<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>descargas y cargas</title>
</head>
<body>
    <h1 style="text-align: center;">PANTALLA DE DESCARGAS Y CARGAS</h1>
    <div style="text-align: center;">
        <img src="/images/imagen_dash.png" alt="Imagen de inicio" style="width: 50%; height: auto;">
    </div>

    <div class="container">
        <h2>Descargas y Cargas</h2>
        <button class="btn-excel">Descargar Excel</button>
        <button class="btn-pdf">Descargar PDF</button>
    </div>

    <script th:src="@{/js/catalogs.js}"></script>
</body>
</html>