/* ===== Tabla de Descargas ===== */
.tabla-descarga {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tabla-descarga th, .tabla-descarga td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.tabla-descarga th {
    background-color: #007ACC;
    color: white;
}

.btn-descargar {
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-descargar:hover {
    background-color: #218838;
}